# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# temporary files
*.tmp
*.temp
logo_base64.txt
logo_dataurl.txt
create-logo-data.js

# database
*.db
*.sqlite
*.sqlite3